{% extends "dashbase.html" %}

{% block title %}Student Dashboard {% endblock title %}

{% block maincontent %}

<div class="row">
    <div class="col-md-4 ">
        <div class="card m-2 fadeIn">
            <div class="card-body text-center ">
                <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="card-text">Email: {{ user.email }}</p>
                {% if personal_info %}
                    {% if personal_info.profile_picture %}
                        <img src="{{ personal_info.profile_picture.url }}" alt="Profile Picture" class="rounded-circle img-fluid" style="max-width: 200px;">
                    {% else %}
                        <p>No profile picture available</p>
                    {% endif %}
                    <a href="{% url 'form_view' tab='personal' %}" class="btn btn-primary mt-3">Edit Profile</a>
                {% else %}
                    <p>No personal information available</p>
                    <a href="{% url 'form_view' tab='personal' %}" class="btn btn-primary mt-3">Create Profile</a>
                {% endif %}
            </div>
        </div>

        <div class="card m-2 fadeIn">
            <div class="card-body">
                <h5 class="card-title">Add Information</h5>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'form_view' tab='education' %}" class="btn btn-primary btn-block mb-2">
                            <i class="lni lni-graduation mr-2"></i> Education
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'form_view' tab='experience' %}" class="btn btn-primary btn-block mb-2">
                            <i class="lni lni-briefcase mr-2"></i> Experience
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'form_view' tab='project' %}" class="btn btn-primary btn-block mb-2">
                            <i class="lni lni-layers mr-2"></i> Project
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'form_view' tab='skills' %}" class="btn btn-primary btn-block mb-2">
                            <i class="lni lni-cog mr-2"></i> Skills
                        </a>
                    </div>
                    
                    <div class="col-md-6">
                        <a href="{% url 'form_view' tab='interests' %}" class="btn btn-primary btn-block mb-2">
                            <i class="lni lni-heart mr-2"></i> Interests
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'form_view' tab='languages' %}" class="btn btn-primary btn-block mb-2">
                            <i class="lni lni-spellcheck mr-2"></i> Languages
                        </a>
                    </div>

                    <div class="col-md-12">
                        <a href="{% url 'form_view' tab='achievements' %}" class="btn btn-primary btn-block mb-2">
                            <i class="lni lni-star-half mr-2"></i> Achievements
                        </a>
                    </div>
                    <!-- Add more LineIcons classes as needed -->
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8 ">
        <div class="row">
            <div class="col-md-6">
                <div class="card m-2 fadeIn">
                    <div class="card-body">
                        <h5 class="card-title">Profile Completion</h5>
                        <!-- Display experience information -->
                        <ul class="list-group">
                            <canvas id="profileCompletionChart" width="200" height="200"></canvas>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card m-2 fadeIn" >
                    <div class="card-body  d-flex justify-content-between flex-column">
                        <div class="mb-5 bg-light d-flex justify-content-between flex-column ">
                            <h5 class="card-title m-2">Latest Notification</h5>
                            {% if latest_notification %}
                                <p class="m-2">{{ latest_notification.message }}</p>
                                <small class="m-2">From: {{ latest_notification.sender.username }} | {{ latest_notification.timestamp }}</small>
                            {% else %}
                                <p class="m-2">No notifications</p>
                            {% endif %}
                        </div>
                        <!-- Add button to redirect to view_notifications URL -->
                        <a href="{% url 'view_notifications' %}" class="btn btn-primary align-self-end">View Notifications</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card m-2 fadeIn">
            <div class="card-body">
                <h5 class="card-title m-2">Message From Admin</h5>
                {% for msg in message %}
                    <p class="m-0 p-2 alert-danger text-black"><strong>!</strong> {{ msg.body }}</p>
                    <small class="m-2"> {{ msg.timestamp }}</small>
                {% endfor %}
            </div>
        </div>

        <div class="card m-2 fadeIn">
            <div class="card-body">
                <h5 class="card-title">Education</h5>
                <!-- Display education information -->
                <ul class="list-group">
                    {% for education in user.educationinfo_set.all %}
                        <li class="list-group-item">
                            <strong>{{ education.degree_course }}</strong> at {{ education.degree_college }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card m-2 fadeIn">
            <div class="card-body">
                <h5 class="card-title">Experience</h5>
                <!-- Display experience information -->
                <ul class="list-group">
                    {% for experience in user.experience_set.all %}
                        <li class="list-group-item">
                            <strong>{{ experience.job_title }}</strong> at {{ experience.company_name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card m-2 fadeIn">
            <div class="card-body">
                <h5 class="card-title">Your Projects</h5>
                <!-- Display experience information -->
                <ul class="list-group">
                    {% for projects in user.project_set.all %}
                        <li class="list-group-item">
                            <strong>{{ projects.project_name }}</strong>  Check out <td><a href="{{ projects.project_links.url }}" target="_blank">{{projects.project_links}}</a></td>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

                    

        <div class="card m-2 fadeIn">
            <div class="card-body">
                <h5 class="card-title">Profile Completion</h5>
                <!-- Display experience information -->
                <ul class="list-group">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ completion_percentage|floatformat:"2" }}%;" aria-valuenow="{{ completion_percentage|floatformat:"2" }}" aria-valuemin="0" aria-valuemax="100">{{ completion_percentage|floatformat:"2" }}%</div>
                    </div>
                    <p class="mt-2">Your profile completion</p>
                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock maincontent %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('profileCompletionChart').getContext('2d');
    var completionPercentage = {{ completion_percentage }};

    var profileCompletionChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Completed', 'Remaining'],
            datasets: [{
                data: [completionPercentage, 100 - completionPercentage],
                backgroundColor: [
                    '#009000',
                    '#FF0800'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: false, // Adjust as needed
            cutoutPercentage: 80, // Adjust the size of the hole in the center
            legend: {
                display: false
            }
        }
    });
</script>

{% endblock js %}
