{% extends "base.html" %}

{% load static %}
{% block title %}Checkout{% endblock title %}
{% block body %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
        <div class="card mb-2">
            <div class="card-body">
                <h5>Product: {{ item.product.title | truncatechars:45 }}</h5>
                <div class="card mb-2">
                    <img src="{{ item.product.product_image.url }}" alt="{{ item.product.title }}" class="img-fluid img-thumbnail shadow-sm" height="150" width="150">
                </div>
                <p>Quantity: {{ item.quantity }}</p>
                <p class="fw-bold">Price: {{ item.total_cost }}</p>
            </div>
        </div>
    {% endfor %}
    <p class="fw-bold">Total Cost + Rs. 70 = {{ total_amount }}</p>
    <small>(Rs. 70 Delivery Charge)</small> <hr>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action={% url "paymentdone" %} id="myform">
      {% if add %}
      {% for ad in add %}
          <div class="card">
              <div class="card-body">
                  <h5>{{ ad.name }}</h5>
                  <p>{{ ad.locality }}, {{ ad.city }}, {{ ad.state }} - {{ ad.zipcode }}</p>
              </div>
          </div>
          <div class="form-check mt-2 mb-5">
              <input class="form-check-input" type="radio" name="custid" id="custadd{{ forloop.counter }}" value="{{ ad.id }}" checked>
              <label class="form-check-label fw-bold" for="custadd{{ forloop.counter }}">
                  Address: {{ forloop.counter }}
              </label>
          </div>
      {% endfor %}
      {% else %}
          <div class="alert alert-warning" role="alert">
              You haven't added an address yet. Please add an address <a href="{% url 'profile' %}">here</a>.
          </div>
      {% endif %}
      
        <div class="border p-3">
          <!-- Set up a container element for the button -->
          <p class="fw-bold">Payment Options:</p>
          <div id="paypal-button-container"></div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}

{% block js %} 
 <!-- Include the PayPal JavaScript SDK -->

// Render the PayPal button into #paypal-button-container
paypal.Buttons({

    // Set up the transaction
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: '{{ total_amount }}' // Correct variable name
                }
            }]
        });
    },

    // Finalize the transaction
    onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
            // Show a success message to the buyer
            alert('Transaction completed by ' + details.payer.name.given_name + '!');
            document.getElementById("myform").submit()
        });
    }


}).render('#paypal-button-container');

{% endblock js %}


{% block heroSection %}{% endblock heroSection %}

{% block WhyChooseUs %}{% endblock WhyChooseUs %}

{% block HelpSection %}{% endblock HelpSection %}

{% block productSection %}{% endblock productSection %}

{% block popularProduct %}{% endblock popularProduct %}

{% block blogSection %}{% endblock blogSection %}

{% block testimonial %}{% endblock testimonial %}

{% block footer %}{% endblock footer %}